html
{
	text-align: center;
	background-image: url("https://static1.squarespace.com/static/529d50bfe4b01de6ed943b27/55c7c40ae4b043398e49e30f/55c8d892e4b0f16d8cc08b82/1439226613346/sky.gif?format=2500w");
	background-color: #7abdc9;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#OverlayImage
{
	height: 100%;
	width: 100%;
}

#AudioControl
{
	position: fixed;
	left: 30px;
	top: 30px;
}

#WeatherControl
{
	position: fixed;
	right: 30px;
	top: 30px;
	border-style: solid;
	border-width: 2px;
	background-color: black;
	opacity: 0.5;
	border-radius: 4%;
	padding: 3px;

}

#PresetSettings
{
	position: fixed;
	left: 30px;
	bottom: 30px;
	border-style: solid;
	border-width: 2px;
	background-color: black;
	opacity: 0.5;
	border-radius: 4%;
	padding: 3px;

}

#AccountFunctions
{
	position: fixed;
	right: 30px;
	bottom: 30px;
}
/*
body.SpringStyle
{
	background-image: url("https://giant.gfycat.com/ComplicatedDearestCockerspaniel.gif");
}

body.SummerStyle
{
	background-image: url("https://giant.gfycat.com/ExcellentMelodicDiscus.gif");
}

body.AutumnStyle
{
	background-image: url("http://i.imgur.com/eTylYZr.gif");
}

body.WinterStyle
{
	background-image: url("http://i.imgur.com/m6mUMQI.gif");
}
*/