html
{
	text-align: center;
	/*background-image: url("https://static1.squarespace.com/static/529d50bfe4b01de6ed943b27/55c7c40ae4b043398e49e30f/55c8d892e4b0f16d8cc08b82/1439226613346/sky.gif?format=2500w");*/
	background-color: #7abdc9;
	height:100%;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

body
{
	background-color: #7abdc9;
	background-image: url("https://static1.squarespace.com/static/529d50bfe4b01de6ed943b27/55c7c40ae4b043398e49e30f/55c8d892e4b0f16d8cc08b82/1439226613346/sky.gif?format=2500w");
	height: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-size: cover;
	background-repeat: no-repeat;

}
#OverlayImage
{

	height: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-size: cover;
	background-repeat: no-repeat;
}


#AudioControl
{
	position: fixed;
	left: 30px;
	top: 30px;
}

#WeatherControl
{
	position: fixed;
	right: 30px;
	top: 30px;
	border-style: solid;
	border-width: 2px;
	background-color: black;
	opacity: 0.5;
	border-radius: 4%;
	padding: 3px;

}

#PresetSettings
{
	position: fixed;
	left: 30px;
	bottom: 30px;
	border-style: solid;
	border-width: 2px;
	background-color: black;
	opacity: 0.5;
	border-radius: 4%;
	padding: 3px;

}

#SoundSettings
{
	position: fixed;
	left: 30px;
	bottom: 60px;
	border-style: solid;
	border-width: 2px;
	background-color: black;
	opacity: 0.5;
	border-radius: 4%;
	padding: 3px;

}

#AccountFunctions
{
	position: fixed;
	right: 30px;
	bottom: 30px;
	color: white;
	border-style: solid;
	border-width: 2px;
	background-color: black;
	opacity: 0.5;
	border-radius: 4%;
	padding: 3px;
}

#myBtn
{
	position: fixed;
	left: 50px;
	top: 50px;
	padding: 20px;
	border-radius: 10px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* B U T T O N S*/

